:root {
    --bg-clr: #141414;
    --div-clr: #1a1a1a;
    --btn-clr: #703bf7;
    --border-clr: #262626;

}
::-webkit-scrollbar {
    width: 8px;
    position: absolute;
    z-index: 999;
}
::-webkit-scrollbar-track {
    background-color: #000;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 15px;
    width: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #575757;
}
* {
    box-sizing: border-box;
    margin: 0;padding: 0;
    font-family: 'Urbanist', sans-serif;
    /* rotate: ; */
}



body {
    background-color: var(--bg-clr);
    color: whitesmoke;
    overflow-x: hidden;
}
.dark-btn {
    text-transform: capitalize;
    background-color: var(--bg-clr);
    border: 1px solid var(--border-clr);
    color: #fff;
    border-radius: 8px;
    padding: 14px 20px;
    font-size: 14px;
    &:hover {
        background-color: #000;
        cursor: pointer;
        transition: .5s linear;
    }
}
.blue-btn {
    text-transform: capitalize;
    background-color: #703BF7;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 14px 20px;
    font-size: 14px;
    &:hover {
        background-color: #703bf774;
        backdrop-filter: blur(2px);
        cursor: pointer;
        transition: .5s linear;
    }
}
p {
    color: #999999;
    line-height: 24px;
    font-size: 15px;
}
h1 {
    font-size: 38px;
    line-height: 57px;
    margin: 30px 0;
}
a {
    color: white;
}
h3 {
    font-size: 30px;
    line-height: 45px;
}
h4 {
    font-size: 24px;
    line-height: 36px;
}
h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    line-height: 30px;
}
.div {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bg-clr);
    z-index: 999;
    backdrop-filter: blur(10px);
    & img {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        animation: grow 1s infinite ease;
        z-index: 9999;
    }
    
}
@keyframes grow {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.5;
    }
    100% {
        scale: 1;
    }    
}
.first-header {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    background-image: url(/resources/Abstract\ Design\ \(1\).png);
}
.res-nav {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 60px;
    background-color: var(--div-clr);
    border: 1px solid var(--border-clr);
}
.navbar .menu-btn {
    display: none;
}
.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar ul a {
    margin-left: 40px;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid;
    border-color: transparent;
    text-decoration: none;
    &:nth-child(3) {
        background-color: var(--bg-clr);
        border-color: var(--border-clr);
    }
}
.navbar ul a:hover {
    background-color: var(--bg-clr);
    border-color: var(--border-clr);
    transition: .5s linear;
    cursor: pointer;
}
.navbar .close-btn, .navbar nav .contact-btn {
    display: none;
}

section {
    padding: 60px;
    text-transform: capitalize;
}

section .star {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 90px;
    margin-bottom: -15px;
    margin-left: -5px;
}
section .star img {
    border: none;
}
section .star img:nth-child(1) {
    width: 24px;
}
section .star img:nth-child(2) {
    width: 14.4px;
}
section .star img:nth-child(3) {
    width: 7px;
}
/* Hero section */
.hero-section {
    background-image: url(../resources/img1.png);
    background-size: 100%;
    padding-bottom: 100px;
    border-bottom: 1px solid var(--border-clr);
    & .text {
        background: linear-gradient(to left, #262626 10%, #1a1a1a);
        border-radius: 10px;
        padding: 50px;
        text-align: center;
        margin: auto;
        width: 80%;
    }
}

/* Sub section */
.sub-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: -100px;
    & .input {
        width: 80%;
        margin: auto;
        background-color: var(--bg-clr);
        display: flex;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid var(--border-clr);
        box-shadow: 0 0 0 10px #191919;
        border-radius: 12px 12px 0 0;
        & input {
            width: 80%;
            background-color: transparent;
            border: none;
            font-size: 18px;
        }
        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            & p {
                color: #fff;

            }
            & i {
                margin: 0 5px;
            }
        }
        
    }
    & .div2 {
        background-color: #191919;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 12px;
    } 
    & .select {
        width: 19%;        
        padding: 12px 14px;
        border-radius: 8px;
        border: 1px solid var(--border-clr);
        background-color: var(--bg-clr);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #999999;
        & i {
            padding: 5px;
            font-size: 16px;
        }
        & select {
            color: #999999;
            text-transform: capitalize;
            width: 90%;
            padding: 0 5px;
            border: none;
            background-color: transparent;
            border-left: 1px solid var(--border-clr);
            /* box-shadow: 0 0 0 15px #191919; */
        }
    }
}

/* Form */
.contact form {
    border: 1px solid var(--border-clr);
    border-radius: 12px;
    padding: 50px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    & > div {
        display: flex;
        flex-direction: column;
        width: 24.25%;
        margin-bottom: 20px;
        & input, select, textarea {
            margin: 15px 0;
            width: 100%;
            border: 1px solid var(--border-clr);
            border-radius: 6px;
            padding: 16px 20px;
            background-color: var(--div-clr);
            color: #999999;
            font-size: 14px;
            text-transform: capitalize;
            outline: none;
        }
        & > .input {
            display: flex;
            align-items: center;
            gap: 5px;
            border: 1px solid var(--border-clr);
            border-radius: 6px;
            margin: 15px 0;
            padding: 11px 15px;
            background-color: var(--div-clr);
            width: 100%;
            & input {
                border: none;
                padding: 5px;
                font-size: 14px;
                margin: 0;
            }
            & .dot {
                height: 10px;
                width: 10px;
                padding: 0;
                border-radius: 100%;
                background-color: var(--btn-clr);
            }

        }
        &:nth-child(9) {
            width: 49.5%;
        }
        &:nth-child(11) {
            margin: 15px 0;
            margin-bottom: 36px;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            border: 1px solid var(--border-clr);
            border-radius: 6px;
            padding: 11px 15px;
            background-color: var(--div-clr);
            & input {
                border: none;
                padding: 5px;
                font-size: 14px;
                margin: 0;
            }
            & .dot {
                height: 12px;
                width: 12px;
                padding: 0;
                border-radius: 100%;
                border: 2px solid var(--btn-clr);
            }
        }
        &:nth-child(12) {
            width: 100%;
            & textarea {
                height: 122px;
            }
        }
        &:nth-child(13) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            & div {
                display: flex;
                gap: 5px;
                align-items: center;
            }
            & input {
                width: max-content;
                height: 24px;
                width: 24px;
                padding: 0;
                border-radius: 4px;
                appearance: none;
                border: 1px solid var(--border-clr);
                background-color: var(--div-clr);
            }
        }
    }
    
}




/* properties */
.properties  .text .txt {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.properties .text .txt p {
    width: 70%;
}
.properties .thrdsec-btn:nth-child(1) {
    display: none;
}
.properties .thrdsec-btn:nth-child(2) {
    display: block;
}

.properties  .sub-divs {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.properties .sub-divs h4 {
    font-size: 20px;
    line-height: 30px;
}
.properties .sub-divs .content {
    border: 1px solid var(--border-clr);
    display: block;
    width: 32.5%;
    padding: 30px;
    border-radius: 12px;
    & .span {
        padding: 6px 12px;
        border-radius: 28px;
        font-size: 14px;
        margin: 10px 0;
        border: 1px solid var(--border-clr);
        background-color: var(--div-clr);
    }
}
.properties .sub-divs .content img{
    border-radius: 15px;
    width: 100%;
}
.properties .sub-divs .content .content-txt {
    margin-top: 20px;
}
.properties .sub-divs .content .content-txt p {
    margin-top: 15px;

}
.properties .sub-divs .content .price {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.properties .sub-divs .content .price p {
    font-size: 14px;
    margin: 0;
}
.properties .sub-divs .content .price h6 {
    line-height: 20px;
    font-size: 20px;
}
.properties .btn-bar {
    border-top: 1px solid var(--border-clr);
    margin: 30px 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.properties .btn-bar .navigator {
    display: flex;
    justify-content: center;
    align-items: center;
}
.properties .btn-bar .navigator button {
    height: 44px;
    width: 44px;
    padding: 10px;
    margin: 0 5px;
    border-radius: 100%;
    background-color: var(--div-clr);
    border: 1px solid var(--border-clr);
    color: #fff;
    &:hover {
        background-color: var(--bg-clr);
        cursor: pointer;
        transition: .5s linear;
    }
}

.properties .btn-bar .ps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
}
.properties .btn-bar .res {
    display: none;
}



/* COnclusion */ 
.conclusion {
    border: 1px solid var(--border-clr);
    border-color: var(--border-clr) transparent;
    margin-bottom: 30px;
}
.conclusion .text {
    /* margin: 10px 0; */
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.conclusion .text .txt {
    width: 80%;
}
.conclusion .text .txt p {
    margin: 10px 0;
}
.conclusion .text .txt button {
    height: max-content;
}


/* Footer */
footer .footer {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
footer .footer .contact {
    width: 25%;
}
footer .footer .contact input {
    /* height: 35px; */
    font-size: 16px;
    background: none;
    border: none;
    width: 100%;
    outline: none;
    color: #fff;
}
footer .footer .contact h5 {
    justify-content: flex-start;
    margin: 0;
}
footer .footer .contact .icons {
    border: 1px solid var(--border-clr);
    border-radius: 8px;
    padding: 18px 25px;
    background-color: var(--div-clr);
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    & i {
        color: #999999;
    }
}
footer .footer .info {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
footer .footer .res-info {
    display: none;
}
footer .footer .info p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}
footer .footer .info div .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .footer .info div .link a {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    font-weight: 500;
    text-decoration: none;
}
footer .end-line {
    padding: 12px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--div-clr);
}
footer .end-line .txt {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
footer .end-line a {
    text-decoration: none;
}
footer .end-line div i {
    /* height: 40px;
    width: 40px; */
    background-color: var(--bg-clr);
    padding: 10px;
    border-radius: 100%;
    text-align: center;
    gap: 10px;
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: calc(38px - 20%);
        line-height: calc(57px - 40%);
    }
    p {
        font-size: calc(15px - 15%);
        line-height: calc(24px - 20%);
    }
    h3 {
        font-size: calc(30px - 15%);
        line-height: calc(45px - 15%);
    }
    h4 {
        font-size: calc(24px - 15%);
        line-height: calc(36px - 15%);
    }
    h5 {
        font-size: calc(20px - 15%);
        line-height: calc(30px - 15%);
    }
    .navbar{
        padding: 20px 18px;
    }
    .navbar .menu-btn {
        display: flex;
        flex-direction: column;
        width: max-content;
        height: fit-content;
        background: none;
        border: none;
        cursor: pointer;
    }
    .navbar .menu-btn div {
        width: 25px;
        height: 2px;
        border-radius: 20px;
        background-color: #fff;
        margin-top: 8px;
    }
    .navbar .link {
        display: none;
    }
    .navbar .menu-btn div:nth-child(3) {
        width: 15px;
        align-self: self-end;
    }
    .navget {
        display: block;
    }
    .navbar .close-btn {
        display: block;
        position: absolute;
        background: none;
        border: none;
        color: #fff;
        right: 1%;
        top: 5px;
        z-index: 88;
    }
    .navbar .contact-btn {
        display: none;
    }
    .navbar .nav {
        display: none;
    }
    .navbar .res-nav {
        display: none;
        position: fixed;
        background-color: #242424e7;
        backdrop-filter: blur(10px);
        z-index: 99;
        height: 100vh;
        top: 0;
        right: 0;
        width: 50%;
        
    }
    .navbar nav .contact-btn {
        display: block;
        overflow: hidden;
        padding: 5%;
        width: 99%;
    }
    .navbar nav ul {
        margin-top: 50px;
        margin-bottom: 5px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .navbar nav ul a {
        margin: 0;
        margin-bottom: 15px;
        width: 99%;
        padding: 5%;
    }
    .navbar nav ul a:last-child:hover {
        background-color: transparent;
        border-color: transparent;
    }
    section {
        padding: 20px 16px;
    }
    /* Hero section */
    .hero-section {
        padding: 20px 16px;
    }
    .hero-section .text {
        width: 100%;
        padding: 20px 16px;
    }
    .sub-section {
        margin: 20px 0;
        flex-direction: column;
        & .input {
            width: 100%;
            box-shadow: 0 0 0 4px #191919;
            margin: 10px 0;
            border-radius: 12px;
            & button {
                & p {
                    display: none;
                }
            }
        }
        & .div2 {
            flex-direction: column;
            width: 100%;
            padding: 20px;
            margin: 10px 0;
            & .select {
                width: 100%;
                margin: 10px 0;
            }
        }
    }
    /* properties */
    .properties  {
        & .sub-divs .content {
            display: none;
            width: 100%;
            &:first-child {
                display: block;
            }
        }
        & .btn-bar {
            & .navigator {
                width: 100%;
                justify-content: space-between;
            }
            & .ps {
                display: none;
            }
            & .res {
                display: flex;
            }
        }
    }

    /* form */
    .contact form {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        & > div {
            width: 100%;
            &:nth-child(9) {
                width: 100%;
            }
            &:nth-child(11) {
                margin-top: -15px;
            }
            &:nth-child(13) {
                flex-direction: column;
                & div {
                    width: 100%;
                }
                & button {
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
    }

    .conclusion .text {
        flex-direction: column;
        & .txt {
            width: 100%;
        }
    }
    .conclusion .text button {
        width: 100%;
        margin: 20px 0;
    }

    footer .footer {
        padding: 14px;
        flex-direction: column;
        width: 100%;
    }
    footer .footer .contact {
        width: 100%;
    }
    footer .footer .info {
        width: 100%;
        flex-wrap: wrap;
    }
    footer .footer .info p {
        font-size: 16px;
     }
     footer .footer .info a {
        font-size: 14px;
     }
    footer .footer .info {
        display: none;
    }
    footer .footer .res-info {
        display: flex;
    }
    footer .footer .res-info > div {
        width: 50%;
        padding: 5px;
    }
    footer .footer .res-info hr {
        width: 90%;
        /* margin: auto; */
        border: 0.3px solid var(--border-clr);
    }
    footer .footer .res-info > div > div {
        margin: 10px;
    }
    footer .footer .res-info .left > div {
        padding: 15px 0;
        border-right: 1px solid var(--border-clr);
    }
    footer .footer .res-info .right > div {
        padding: 15px 10px;
    }
    
}